
{% extends 'base.html' %}

{% block title %}
cours_ens
{% endblock %}

{% block navbar %}
<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link"  href="{% url 'dashbord_ens' %}">Accueil</a></li>
                        <li class="nav-item dropdown">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle nav-link active" aria-current="page" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="{{ pp }}" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong> {{ prenom }} {{ nom }}</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="{% url 'profil_ens' %}">Mon Profil</a></li>
        <li><a class="dropdown-item" href="{% url 'edit_profil_ens' %}">Modifier mon profil</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{% url 'deconnexion' %}">Deconnexion</a></li>
      </ul>
        </li>

                    </ul>
               {% endblock %}

{% block aside %}
<aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="profile.html"><br/></a></p>
          <h5 class="centered"></h5>
          <li class="mt">
            <a class="active" href="{% url 'dashbord_ens' %}">
              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
              </a>
          </li>


          <li class="sub-menu">
            <a href="{% url 'cours_ens' %}">
              <i class="fa fa-book"></i>
              <span>Mes cours</span>
              </a>

          </li>


          <li>
            <a href="{% url 'message_ens' %}">
              <i class="fa fa-envelope"></i>
              <span>Messages </span>
              <span class="label label-theme pull-right mail-info">2</span>
              </a>
          </li>


        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
      {% endblock %}

{% block content %}
 <section id="main-content">
      <section class="wrapper">
      <div class="row">
          {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                  {{ message }}
              </li>
              {% endfor %}
          </ul>
          {% endif %}
      <?php include('../parties/flash.php');
      include('../parties/error.php'); ?>
      <div class="row">




<div class="col-xl-4">

            <!-- Profile picture card-->
            <div class="mb-4 mb-xl-0">
                <div class="card-header">Ajouter un cours</div>
                <div class="card-body text-center">


                                <!-- Profile picture help block-->
                    <div class="small font-italic text-muted mb-4">uniquement des PDF</div>
                    <!-- Profile picture upload button-->
                    <form enctype="multipart/form-data" method="POST" class="card-body cardbody-color p-lg-1" >
                        {% csrf_token %}
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="code">
                            <option selected>choisissez le cours</option>
                            {% for i in res %}
                             <option value="{{ i.code }}">{{ i.code }}</option>
                            {% endfor %}
                        </select>
                        <div class="mb-3">
                      <input type="text" class="form-control" id="description" name="description" aria-describedby="emailHelp"
                        placeholder="description du fichier pdf"  >
                    </div>

                        {{ form_file.as_p }}
                        <input class="btn btn-primary" type="submit"/>
                    </form>


                </div>
            </div>

        </div>










</div>

</div>
      </section>
    </section>

{% endblock %}