
{% extends 'base.html' %}

{% block title %}
cours_etd
{% endblock %}

{% block navbar %}
<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page"  href="dashbord.php">Accueil</a></li>
    <li class="nav-item"><a class="nav-link"  href="{% url 'list_etd' %}">Etudiants</a></li>
    <li class="nav-item dropdown">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle nav-link active" aria-current="page" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="{{ pp }}" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong> {{ prenom }} {{ nom }}</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="{% url 'profil' %}">Mon Profil</a></li>
        <li><a class="dropdown-item" href="{% url 'edit_profil' %}">Modifier mon profil</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{% url 'deconnexion' %}">Deconnexion</a></li>
      </ul>
        </li>

                    </ul>
               {% endblock %}

{% block aside %}
<aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="profile.html"><br/></a></p>
          <h5 class="centered"></h5>
          <li class="mt">
            <a  href="{% url 'dashbord' %}">
              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
              </a>
          </li>


          <li class="sub-menu">
            <a class="active" href="{% url 'cours_etd' %}">
              <i class="fa fa-book"></i>
              <span>Mes cours</span>
              </a>

          </li>

          <li class="sub-menu">
            <a href="{% url 'notes' %}">
              <i class="fa fa-th"></i>
              <span>Mes notes</span>
              </a>

          </li>
          <li>
            <a href="{% url 'message' %}">
              <i class="fa fa-envelope"></i>
              <span>Messages </span>
              <span class="label label-theme pull-right mail-info">2</span>
              </a>
          </li>


        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
      {% endblock %}

{% block content %}
 <section id="main-content">
      <section class="wrapper">
      <div class="row">
          {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                  {{ message }}
              </li>
              {% endfor %}
          </ul>
          {% endif %}
      <?php include('../parties/flash.php');
      include('../parties/error.php'); ?>
      <div class="row">
<table class="table">
       <p> <center>COURS</center></p>
  <thead>
    <tr>
        {% for i in res %}
      <th scope="col"><h5 class="card-title">{{ i.code }}</h5>
        <p class="card-text">{{ i.descrisption }}</p></th>
        {% endfor %}

    </tr>
  </thead>
  <tbody>

    {% for i in res %}





                <td><center>{% for j in res1 %}
            {% for k in j %}
            {% if k.cd == i.code %}
        <a href="{{ k.lien }}" download class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1">{{ k.descrip }}</h4><br><br>
      <small class="text-muted">publie le {{ k.date_p }}</small>
    </div>
  </a>

            {% endif %}
            {% endfor %}
      {% endfor %}</center></td>




    {% endfor %}

  </tbody>
</table>











</div>

</div>
      </section>
    </section>

{% endblock %}