
{% extends 'base.html' %}

{% block title %}
verfication-publi
{% endblock %}

{% block navbar %}
<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link"  href="{% url 'dashbord_ad' %}">Accueil</a></li>
    <li class="nav-item dropdown">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle nav-link active" aria-current="page" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="{{ pp }}" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong> {{ prenom }} {{ nom }}</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{% url 'deconnexion' %}">Deconnexion</a></li>
      </ul>
        </li>

                    </ul>
               {% endblock %}

{% block aside %}
<aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="profile.html"><br/></a></p>
          <h5 class="centered"></h5>
          <li class="mt">
            <a  href="{% url 'gestion_ens' %}">
              <i class="fa fa-dashboard"></i>
              <span>Enseignant</span>
              </a>
          </li>


          <li>
            <a class="active" href="{% url 'dashbord_ad' %}">
              <i class="fa fa-envelope"></i>
              <span>Verfication </span>
              <span class="label label-theme pull-right mail-info">2</span>
              </a>
          </li>


        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
      {% endblock %}

{% block content %}
 <section id="main-content">
      <section class="wrapper">
      <div class="row">
          {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                  {{ message }}
              </li>
              {% endfor %}
          </ul>
          {% endif %}



<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">

    </div>
  </div>
</div>



          <div class="container">
    <div class="row">
        <div class="col-md-10">

            {% for i in posts %}
            {% if i.type == 'image' %}
                <div class="post-content">
                <div class="post-container">
                    {% for n in posteur %}
                        {% for l in n %}
                        {% if i.etd == l.matricule_etd and i.ens == None and i.etd != None %}
                    <img src="{{ l.photo_profil }}" alt="user" class="profile-photo-md pull-left">
                    {% elif i.ens == l.matricule_ensg and i.etd == None and i.ens != None  %}
                    <img src="{{ l.photo_profil }}" alt="user" class="profile-photo-md pull-left">
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                    <div class="post-detail">
                    <div class="user-info">
                        {% for n in posteur %}
                        {% for l in n %}
                        {% if i.etd == l.matricule_etd and i.ens == None and i.etd != None %}
                    <h5><a href="" class="profile-link text-body"><strong>{{ l.prenom }} {{ l.nom }}</strong></a></h5>
                    {% elif i.ens == l.matricule_ensg and i.etd == None and i.ens != None   %}
                        <h5><a href="" class="profile-link text-body"><strong>{{ l.prenom }} {{ l.nom }}</strong></a></h5>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                        <p class="text-muted">publie le {{ i.date }}</p>
                    </div>

                        <div class="line-divider"></div>
                        <h6 class="text-body"><strong>{{ i.titre }}</strong></h6>
                    <div class="line-divider"></div>
                    <div class="post-text">
                        <p class="text-body"> {{ i.description }}</p><br>
                        <img src="{{ i.contenu }}" class="img-fluid" alt=" image de {{ i.titre}}">
                    </div>
                    <div class="line-divider"></div>
                        {% for n in nb_comment %}
                        {% for l in n %}
                        <input type="hidden" class="form-control" value="{{ i.id_publi }}" id="id_publication" name="id_publication">
                        {% if i.id_publi == l.id_publication %}
                        <button class="fa fa-comments-o btn button com-btn" id="{{ i.id_publi }}">{{l.nb_com}}</button>
                        {% endif %}

                                    {% endfor %}
                                    {% endfor %}


                        <form data-parsley-validate method="POST" autocomplete="off">
                      {% csrf_token %}
                  <div class="post-comment-back">
                      <input type="hidden" class="form-control" value="{{ i.id_publi }}" id="id_publication" name="id_publication">
                      <input type="hidden" class="form-control" value="{{ i.etd }}" id="mat_etd" name="mat_etd">
                      <input type="submit" class="btn " value="Annuler" name="annuler">
                    <input type="submit" class="btn btn-primary" value="Accepter" name="accepter">
                  </div>
                    </form>
                    </div>
                </div>
                </div>
            {% elif i.type == 'video' %}
            <div class="post-content">
                <div class="post-container">
                    {% for n in posteur %}
                        {% for l in n %}
                        {% if i.etd == l.matricule_etd and i.ens == None and i.etd != None %}
                    <img src="{{ l.photo_profil }}" alt="user" class="profile-photo-md pull-left">
                    {% elif i.ens == l.matricule_ensg and i.etd == None and i.ens != None  %}
                    <img src="{{ l.photo_profil }}" alt="user" class="profile-photo-md pull-left">
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                    <div class="post-detail">
                    <div class="user-info">
                        {% for n in posteur %}
                        {% for l in n %}
                        {% if i.etd == l.matricule_etd and i.ens == None and i.etd != None %}
                    <h5><a href="" class="profile-link text-body"><strong>{{ l.prenom }} {{ l.nom }}</strong></a></h5>
                    {% elif i.ens == l.matricule_ensg and i.etd == None and i.ens != None   %}
                        <h5><a href="" class="profile-link text-body"><strong>{{ l.prenom }} {{ l.nom }}</strong></a></h5>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                        <p class="text-muted">publie le {{ i.date }}</p>
                    </div>

                        <div class="line-divider"></div>
                        <h6 class="text-body"><strong>{{ i.titre }}</strong></h6>
                    <div class="line-divider"></div>
                    <div class="post-text">
                        <p class="text-body"> {{ i.description }}</p><br>
                        <div class="embed-responsive embed-responsive-21by9">
                            <iframe class="embed-responsive-item" src="{{ i.contenu }}" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="line-divider"></div>



                        <form data-parsley-validate method="POST" autocomplete="off">
                      {% csrf_token %}
                  <div class="post-comment-back">
                      <input type="hidden" class="form-control" value="{{ i.id_publi }}" id="id_publication" name="id_publication">
                      <input type="hidden" class="form-control" value="{{ i.etd }}" id="mat_etd" name="mat_etd">
                      <input type="submit" class="btn " value="Refuser" name="annuler">
                    <input type="submit" class="btn btn-primary" value="Accepter" name="accepter">
                  </div>
                    </form>
                    </div>
                </div>
                </div>

            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
          <!-- publication sans fichier -->

          <div class="container">
    <div class="row">
        <div class="col-md-10">
            {% for i in posts1 %}
                <div class="post-content">
                <div class="post-container">
                    {% for n in posteur %}
                        {% for l in n %}
                        {% if i.etd == l.matricule_etd and i.ens == None and i.etd != None %}
                    <img src="{{ l.photo_profil }}" alt="user" class="profile-photo-md pull-left">
                   {% endif %}
                    {% endfor %}
                    {% endfor %}
                    <div class="post-detail">
                    <div class="user-info">
                        {% for n in posteur %}
                        {% for l in n %}
                        {% if i.etd == l.matricule_etd and i.ens == None and i.etd != None %}
                    <h5><a href="" class="profile-link text-body"><strong>{{ l.prenom }} {{ l.nom }}</strong></a></h5>
                    {% endif %}
                        {% endfor %}
                    {% endfor %}
                        <p class="text-muted">publie le {{ i.date }}</p>
                    </div>

                        <div class="line-divider"></div>
                        <h6 class="text-body"><strong>{{ i.titre }}</strong></h6>
                    <div class="line-divider"></div>
                    <div class="post-text">
                        <p class="text-body"> {{ i.description }}</p>
                    </div>
                    <div class="line-divider"></div>


                        <form data-parsley-validate method="POST" autocomplete="off">
                      {% csrf_token %}
                  <div class="post-comment-back">
                      <input type="hidden" class="form-control" value="{{ i.id_publi }}" id="id_publication" name="id_publication">
                      <input type="hidden" class="form-control" value="{{ i.etd }}" id="mat_etd" name="mat_etd">
                      <input type="submit" class="btn " value="Annuler" name="annuler">
                    <input type="submit" class="btn btn-primary" value="Accepter" name="accepter">
                  </div>
                    </form>
                    </div>
                </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>


        </div>
      </section>
    </section>




{% endblock %}