
{% extends 'base.html' %}

{% block title %}
dashbord-ens
{% endblock %}

{% block navbar %}
<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link"  href="{% url 'dashbord_ens' %}">Accueil</a></li>
                        <li class="nav-item dropdown">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle nav-link active" aria-current="page" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="{{ pp }}" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong> {{ prenom }} {{ nom }}</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="{% url 'profil_ens' %}">Mon Profil</a></li>
        <li><a class="dropdown-item" href="{% url 'edit_profil_ens' %}">Modifier mon profil</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{% url 'deconnexion' %}">Deconnexion</a></li>
      </ul>
        </li>

                    </ul>
               {% endblock %}

{% block aside %}
<aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="profile.html"><br/></a></p>
          <h5 class="centered"></h5>
          <li class="mt">
            <a class="active" href="{% url 'dashbord_ens' %}">
              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
              </a>
          </li>


          <li class="sub-menu">
            <a href="{% url 'cours_ens' %}">
              <i class="fa fa-book"></i>
              <span>Mes cours</span>
              </a>

          </li>


          <li>
            <a href="{% url 'message_ens' %}">
              <i class="fa fa-envelope"></i>
              <span>Messages </span>
              <span class="label label-theme pull-right mail-info">2</span>
              </a>
          </li>


        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
      {% endblock %}

{% block content %}
 <section id="main-content">
      <section class="wrapper">
      <div class="row">
          {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                  {{ message }}
              </li>
              {% endfor %}
          </ul>
          {% endif %}
          <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">

    </div>
  </div>
</div>

           <div class="container">
    <div class="row">
        <div class="col-md-10">
            {% for i in posts %}
            {% if i.type == 'image' %}
                <div class="post-content">
                <div class="post-container">
                    {% for n in posteur %}
                        {% for l in n %}
                        {% if i.etd == l.matricule_etd and i.ens == None and i.etd != None %}
                    <img src="{{ l.photo_profil }}" alt="user" class="profile-photo-md pull-left">
                    {% elif i.ens == l.matricule_ensg and i.etd == None and i.ens != None  %}
                    <img src="{{ l.photo_profil }}" alt="user" class="profile-photo-md pull-left">
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                    <div class="post-detail">
                    <div class="user-info">
                        {% for n in posteur %}
                        {% for l in n %}
                        {% if i.etd == l.matricule_etd and i.ens == None and i.etd != None %}
                    <h5><a href="profil_public?id={{ l.id }}" class="profile-link text-body"><strong>{{ l.prenom }} {{ l.nom }}</strong></a></h5>
                    {% elif i.ens == l.matricule_ensg and i.etd == None and i.ens != None   %}
                        <h5><a href="profil_public?id={{ l.id }}" class="profile-link text-body"><strong>{{ l.prenom }} {{ l.nom }}</strong></a></h5>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                        <p class="text-muted">publie le {{ i.date }}</p>
                    </div>
                        <div class="reaction">
                                {% for j in total_like %}
                                {% if j.id_publication == i.id_publi %}

                            <form action="{% url 'like_post' %}" data-parsley-validate method="POST" autocomplete="off" class="like-form" id="{{ i.id_publi }}">
                                {% csrf_token %}
                                <input type="hidden" value="{{ i.id_publi }}" name="id_publication">


                                        <button type="submit" class="fa fa-thumbs-up btn button like-btn{{ i.id_publi }}">j'aime</button>



                                        <div class="post-comment-back">
                                            <div class="like-count{{i.id_publi}}">{{ j.liked }}</div>
                                            </div>

                            </form>

                                {% endif %}
                                {% endfor %}

                        </div>
                        <div class="line-divider"></div>
                        <h6 class="text-body"><strong>{{ i.titre }}</strong></h6>
                    <div class="line-divider"></div>
                    <div class="post-text">
                        <p class="text-body"> {{ i.description }}</p><br>
                        <img src="{{ i.contenu }}" class="img-fluid" alt=" image de {{ i.titre}}">
                    </div>
                    <div class="line-divider"></div>
                        {% for n in nb_comment %}
                        {% for l in n %}
                        <input type="hidden" class="form-control" value="{{ i.id_publi }}" id="id_publication" name="id_publication">
                        {% if i.id_publi == l.id_publication %}
                        <button class="fa fa-comments-o btn button com-btn" id="{{ i.id_publi }}">{{l.nb_com}}</button>
                        {% endif %}

                                    {% endfor %}
                                    {% endfor %}
                        <div class="commentaires{{i.id_publi}}"  style="display : none;">
                        {% for n in comment %}
                        {% for l in n %}
                        <div class="post-comment">

                                        {% for m in commenteur %}
                                        {% for o in m %}
                                    {% if l.matricule_etd == o.matricule_etd and l.matricule_etd != None and i.id_publi == l.id_publication %}
                                <img src="{{ o.photo_profil }}" alt="" class="profile-photo-sm">
                                <a href="profil_public?id={{ o.id }}" class="profile-link text-body"><strong>{{ o.prenom }} {{ o.nom }}</strong> </a> {{ l.contenu }}

                                    {% elif l.matricule_ensg == o.matricule_ensg and l.matricule_ensg != None and i.id_publi == l.id_publication %}
                                <img src="{{ o.photo_profil }}" alt="" class="profile-photo-sm">
                                <p><a href="profil_public?id={{ o.id }}" class="profile-link text-body"><strong>{{ o.prenom }} {{ o.nom }}</strong> </a>{{ l.contenu }}</p>
                                {% endif %}

                                    {% endfor %}
                                    {% endfor %}
                        </div>
                        {% endfor %}
                    {% endfor %}
                            </div>

                        <form data-parsley-validate method="POST" autocomplete="off">
                      {% csrf_token %}
                  <div class="post-comment-back">
                    <img src="{{ pp }}" alt="" class="profile-photo-sm">
                    <input type="text" class="form-control" placeholder="Ajouter un commentaire" id="commentaire" name="commentaire" required="required">
                      <input type="hidden" class="form-control" value="{{ i.id_publi }}" id="id_publication" name="id_publication">
                    <input type="submit" class="btn btn-primary" value="Commenter" name="comment">
                  </div>
                    </form>
                    </div>
                </div>
                </div>
            {% elif i.type == 'video' %}
            <div class="post-content">
                <div class="post-container">
                    {% for n in posteur %}
                        {% for l in n %}
                        {% if i.etd == l.matricule_etd and i.ens == None and i.etd != None %}
                    <img src="{{ l.photo_profil }}" alt="user" class="profile-photo-md pull-left">
                    {% elif i.ens == l.matricule_ensg and i.etd == None and i.ens != None  %}
                    <img src="{{ l.photo_profil }}" alt="user" class="profile-photo-md pull-left">
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                    <div class="post-detail">
                    <div class="user-info">
                        {% for n in posteur %}
                        {% for l in n %}
                        {% if i.etd == l.matricule_etd and i.ens == None and i.etd != None %}
                    <h5><a href="profil_public?id={{ l.id }}" class="profile-link text-body"><strong>{{ l.prenom }} {{ l.nom }}</strong></a></h5>
                    {% elif i.ens == l.matricule_ensg and i.etd == None and i.ens != None   %}
                        <h5><a href="profil_public?id={{ l.id }}" class="profile-link text-body"><strong>{{ l.prenom }} {{ l.nom }}</strong></a></h5>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                        <p class="text-muted">publie le {{ i.date }}</p>
                    </div>
                        <div class="reaction">
                                {% for j in total_like %}
                                {% if j.id_publication == i.id_publi %}

                            <form action="{% url 'like_post' %}" data-parsley-validate method="POST" autocomplete="off" class="like-form" id="{{ i.id_publi }}">
                                {% csrf_token %}
                                <input type="hidden" value="{{ i.id_publi }}" name="id_publication">

                                        <button type="submit" class="fa fa-thumbs-up btn button like-btn{{ i.id_publi }}">j'aime</button>


                                        <div class="post-comment-back">
                                            <div class="like-count{{i.id_publi}}">{{ j.liked }}</div>
                                            </div>

                            </form>

                                {% endif %}
                                {% endfor %}

                        </div>
                        <div class="line-divider"></div>
                        <h6 class="text-body"><strong>{{ i.titre }}</strong></h6>
                    <div class="line-divider"></div>
                    <div class="post-text">
                        <p class="text-body"> {{ i.description }}</p><br>
                        <div class="embed-responsive embed-responsive-21by9">
                            <iframe class="embed-responsive-item" src="{{ i.contenu }}" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="line-divider"></div>

                        {% for n in nb_comment %}
                        {% for l in n %}
                        <input type="hidden" class="form-control" value="{{ i.id_publi }}" id="id_publication" name="id_publication">
                        {% if i.id_publi == l.id_publication %}
                        <button class="fa fa-comments-o btn button com-btn" id="{{ i.id_publi }}">{{l.nb_com}}</button>
                        {% endif %}

                                    {% endfor %}
                                    {% endfor %}
                        <div class="commentaires{{i.id_publi}}"  style="display : none;">
                        {% for n in comment %}
                        {% for l in n %}
                        <div class="post-comment">

                                        {% for m in commenteur %}
                                        {% for o in m %}
                                    {% if l.matricule_etd == o.matricule_etd and l.matricule_etd != None and i.id_publi == l.id_publication %}
                                <img src="{{ o.photo_profil }}" alt="" class="profile-photo-sm">
                                <a href="profil_public?id={{ o.id }}" class="profile-link text-body"><strong>{{ o.prenom }} {{ o.nom }}</strong> </a> {{ l.contenu }}

                                    {% elif l.matricule_ensg == o.matricule_ensg and l.matricule_ensg != None and i.id_publi == l.id_publication %}
                                <img src="{{ o.photo_profil }}" alt="" class="profile-photo-sm">
                                <p><a href="profil_public?id={{ o.id }}" class="profile-link text-body"><strong>{{ o.prenom }} {{ o.nom }}</strong> </a>{{ l.contenu }}</p>
                                {% endif %}

                                    {% endfor %}
                                    {% endfor %}
                        </div>
                        {% endfor %}
                    {% endfor %}
                            </div>

                        <form data-parsley-validate method="POST" autocomplete="off">
                      {% csrf_token %}
                  <div class="post-comment-back">
                    <img src="{{ pp }}" alt="" class="profile-photo-sm">
                    <input type="text" class="form-control" placeholder="Ajouter un commentaire" id="commentaire" name="commentaire" required="required">
                      <input type="hidden" class="form-control" value="{{ i.id_publi }}" id="id_publication" name="id_publication">
                    <input type="submit" class="btn btn-primary" value="Commenter" name="comment">
                  </div>
                    </form>
                    </div>
                </div>
                </div>

            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
          <!-- publication sans fichier -->

          <div class="container">
    <div class="row">
        <div class="col-md-10">
            {% for i in posts1 %}
                <div class="post-content">
                <div class="post-container">
                    {% for n in posteur %}
                        {% for l in n %}
                        {% if i.etd == l.matricule_etd and i.ens == None and i.etd != None %}
                    <img src="{{ l.photo_profil }}" alt="user" class="profile-photo-md pull-left">
                    {% elif i.ens == l.matricule_ensg and i.etd == None and i.ens != None  %}
                    <img src="{{ l.photo_profil }}" alt="user" class="profile-photo-md pull-left">
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                    <div class="post-detail">
                    <div class="user-info">
                        {% for n in posteur %}
                        {% for l in n %}
                        {% if i.etd == l.matricule_etd and i.ens == None and i.etd != None %}
                    <h5><a href="profil_public?id={{ l.id }}" class="profile-link text-body"><strong>{{ l.prenom }} {{ l.nom }}</strong></a></h5>
                    {% elif i.ens == l.matricule_ensg and i.etd == None and i.ens != None   %}
                        <h5><a href="profil_public?id={{ l.id }}" class="profile-link text-body"><strong>{{ l.prenom }} {{ l.nom }}</strong></a></h5>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                        <p class="text-muted">publie le {{ i.date }}</p>
                    </div>
                        <div class="reaction">
                                {% for j in total_like1 %}
                                {% if j.id_publication == i.id_publi %}

                            <form action="{% url 'like_post' %}" data-parsley-validate method="POST" autocomplete="off" class="like-form" id="{{ i.id_publi }}">
                                {% csrf_token %}
                                <input type="hidden" value="{{ i.id_publi }}" name="id_publication">

                                        <button type="submit" class="fa fa-thumbs-up btn button like-btn{{ i.id_publi }}">j'aime</button>


                                        <div class="post-comment-back">
                                            <div class="like-count{{i.id_publi}}">{{ j.liked }}</div>
                                            </div>

                            </form>

                                {% endif %}
                                {% endfor %}

                        </div>
                        <div class="line-divider"></div>
                        <h6 class="text-body"><strong>{{ i.titre }}</strong></h6>
                    <div class="line-divider"></div>
                    <div class="post-text">
                        <p class="text-body"> {{ i.description }}</p>
                    </div>
                    <div class="line-divider"></div>
                        {% for n in nb_comment1 %}
                        {% for l in n %}
                        <input type="hidden" class="form-control" value="{{ i.id_publi }}" id="id_publication" name="id_publication">
                        {% if i.id_publi == l.id_publication %}
                        <button class="fa fa-comments-o btn button com-btn" id="{{ i.id_publi }}">{{l.nb_com}}</button>
                        {% endif %}

                                    {% endfor %}
                                    {% endfor %}
                        <div class="commentaires{{i.id_publi}}"  style="display : none;">
                        {% for n in comment1 %}
                        {% for l in n %}
                        <div class="post-comment">

                                        {% for m in commenteur %}
                                        {% for o in m %}
                                    {% if l.matricule_etd == o.matricule_etd and l.matricule_etd != None and i.id_publi == l.id_publication %}
                                <img src="{{ o.photo_profil }}" alt="" class="profile-photo-sm">
                                <a href="profil_public?id={{ o.id }}" class="profile-link text-body"><strong>{{ o.prenom }} {{ o.nom }}</strong> </a> {{ l.contenu }}

                                    {% elif l.matricule_ensg == o.matricule_ensg and l.matricule_ensg != None and i.id_publi == l.id_publication %}
                                <img src="{{ o.photo_profil }}" alt="" class="profile-photo-sm">
                                <p><a href="profil_public?id={{ o.id }}" class="profile-link text-body"><strong>{{ o.prenom }} {{ o.nom }}</strong> </a>{{ l.contenu }}</p>
                                {% endif %}

                                    {% endfor %}
                                    {% endfor %}
                        </div>
                        {% endfor %}
                    {% endfor %}
                            </div>

                        <form data-parsley-validate method="POST" autocomplete="off">
                      {% csrf_token %}
                  <div class="post-comment-back">
                    <img src="{{ pp }}" alt="" class="profile-photo-sm">
                    <input type="text" class="form-control" placeholder="Ajouter un commentaire" id="commentaire" name="commentaire" required="required">
                      <input type="hidden" class="form-control" value="{{ i.id_publi }}" id="id_publication" name="id_publication">
                    <input type="submit" class="btn btn-primary" value="Commenter" name="comment">
                  </div>
                    </form>
                    </div>
                </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>



        </div>
      </section>
    </section>

{% endblock %}