
{% extends 'base.html' %}

{% block title %}
profil-ens
{% endblock %}

{% block navbar %}
<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link"  href="{% url 'dashbord_ens' %}">Accueil</a></li>
                        <li class="nav-item dropdown">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle nav-link active" aria-current="page" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="{{ pp }}" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong> {{ prenom }} {{ nom }}</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="{% url 'profil_ens' %}">Mon Profil</a></li>
        <li><a class="dropdown-item" href="{% url 'edit_profil_ens' %}">Modifier mon profil</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{% url 'deconnexion' %}">Deconnexion</a></li>
      </ul>
        </li>
               {% endblock %}

{% block aside %}
<aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="profile.html"><br/></a></p>
          <h5 class="centered"></h5>
          <li class="mt">
            <a href="{% url 'dashbord_ens' %}">
              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
              </a>
          </li>


          <li class="sub-menu">
            <a href="{% url 'cours_ens' %}">
              <i class="fa fa-book"></i>
              <span>Mes cours</span>
              </a>

          </li>


          <li>
            <a href="{% url 'message_ens' %}">
              <i class="fa fa-envelope"></i>
              <span>Messages </span>
              <span class="label label-theme pull-right mail-info">2</span>
              </a>
          </li>


        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
      {% endblock %}

{% block content %}
 <section id="main-content">
      <section class="wrapper">
      <div class="row">
          {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                  {{ message }}
              </li>
              {% endfor %}
          </ul>
          {% endif %}
      <?
      include('../parties/error.php'); ?>

      <div class="row">

        <div class="col-xl-4">

            <!-- Profile picture card-->
            <div class="mb-4 mb-xl-0">
                <div class="card-header">photo de profil de  {{ matricule }}</div>
                <div class="card-body text-center">
                    <!-- Profile picture image

                <img src="photo_profil/jpg" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                width="200px" alt="photo de profile de <?= echapper($user->matricule_etd)?>">
            -->
                    <div class="text-center">
                        <img src="{{ pp }}" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3" width="200px" alt="photo de profil de {{matricule}}" >

            </div>
                                <!-- Profile picture help block-->
                    <div class="small font-italic text-muted mb-4">JPG pas plus de 3 MB</div>
                    <!-- Profile picture upload button-->
                    <form enctype="multipart/form-data" method="POST" class="card-body cardbody-color p-lg-1" >
                        {% csrf_token %}

                        {{ form_img.as_p }}
                        <input class="btn btn-primary" type="submit" value="enregistrer" name="send_pp"/>
                    </form>


                </div>
            </div>

        </div>

        <div class="col-xl-8">
            <!-- Account details card-->
            <form data-parsley-validate method="post" class="card-body cardbody-color p-lg-1" autocomplete="off">
                {% csrf_token %}

            <div class="mb-4">
                <div class="card-header">Détails du compte de {{ matricule }}</div>
                <div class="card-body">
                        <!-- Form Group (username)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputUsername">nom d'utilisateur</label>
                            <input  class="form-control" data-parsley-minlength="6" value="{{ matricule }}" id="Username" name="Username" type="text" placeholder="entrer votre nom d'utilisateur" required="required" >
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputFirstName">Prénom</label>
                                <input required="required" value="{{ prenom }}" class="form-control" id="Prenom" name="Prenom"  type="text" placeholder="Entrer votre prénom" >
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLastName">nom</label>
                                <input required="required" value="{{ nom }}" class="form-control" id="Nom" name="Nom" type="text" placeholder="Entrer votre prénom" >
                            </div>
                        </div>
                        <!-- Form Row        -->


                        <!-- Form Group (email address)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmail">Email</label>
                            <input required="required" class="form-control" id="Email" name="Email" value="{{ email }}" type="email" placeholder="Entrer votre adresse email" >
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (phone number)-->

                            <!-- Form Group (birthday)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputBirthday">Birthday</label>
                                <input required="required" class="form-control" id="Birthday" name="Birthday" value="{{ birthday }}" type="date" name="birthday" placeholder="Entrer votre date de naissance" >
                            </div>
                        </div>

                        <input class="btn btn-primary" type="submit" value="Enregistrer"name="Save_profil">
                        </div>
        </div>
</form>
                        <form data-parsley-validate method="post" class="card-body cardbody-color p-lg-1" autocomplete="off">
                            {% csrf_token %}
                        <div class="mb-4">
                    <div class="card-header">Changer de mot de passe</div>
                    <div class="card-body">
                        <!-- Form Group (current password)-->
                            <div class="mb-3">
                                <label class="small mb-1" for="currentPassword">Mot de passe actuel</label>
                                <input class="form-control" required="required" id="currentPassword" name="currentPassword" type="password">
                            </div>
                            <!-- Form Group (new password)-->
                            <div class="mb-3">
                                <label class="small mb-1" for="newPassword">Nouveau mot de passe</label>
                                <input class="form-control" required="required" id="newPassword" name="newPassword" type="password" >
                            </div>
                            <!-- Form Group (confirm password)-->
                            <div class="mb-3">
                                <label class="small mb-1" for="confirmPassword">Confirmer le mot de passe</label>
                                <input class="form-control" required="required" id="confirmPassword" name="confirmPassword" data-parsley-equqlto="newPassword" type="password" >
                            </div>
                            <input class="btn btn-primary" type="submit" value="Enregistrer" name="Save_password">
</div>
</div>
</form>
                        <!-- Save changes button-->

                </div>
            </div>
        </div>
    </div>
</div>

</div>
      </section>
    </section>

{% endblock %}