
{% extends 'base.html' %}

{% block title %}
gestion-ens
{% endblock %}

{% block navbar %}
<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link"  href="{% url 'dashbord_ad' %}">Accueil</a></li>
    <li class="nav-item dropdown">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle nav-link active" aria-current="page" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="{{ pp }}" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong> {{ prenom }} {{ nom }}</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{% url 'deconnexion' %}">Deconnexion</a></li>
      </ul>
        </li>

                    </ul>
               {% endblock %}

{% block aside %}
<aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="profile.html"><br/></a></p>
          <h5 class="centered"></h5>
          <li class="mt">
            <a class="active" href="{% url 'gestion_ens' %}">
              <i class="fa fa-dashboard"></i>
              <span>Enseignant</span>
              </a>
          </li>


          <li>
            <a  href="{% url 'dashbord_ad' %}">
              <i class="fa fa-envelope"></i>
              <span>Verfication </span>
              <span class="label label-theme pull-right mail-info">2</span>
              </a>
          </li>


        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
      {% endblock %}

{% block content %}
 <section id="main-content">
      <section class="wrapper">
      <div class="row">
          {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                  {{ message }}
              </li>
              {% endfor %}
          </ul>
          {% endif %}
      <?
      include('../parties/error.php'); ?>

      <div class="row">

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">Ajouter un enseignant</button>

        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <form data-parsley-validate enctype="multipart/form-data" method="post" class="card-body cardbody-color p-lg-1" autocomplete="off">
                {% csrf_token %}

            <div class="mb-4">
                <div class="card-header">Détails du nouveau compte enseignant </div>
                <div class="card-body">
                        <!-- Form Group (username)-->

                        <div class="mb-3">
                            <label class="small mb-1" for="inputUsername">nom d'utilisateur/matricule</label>
                            <input  class="form-control" data-parsley-minlength="6"  id="Username"
                                    name="Username" type="text" placeholder="entrer votre nom d'utilisateur" required="required" >
                        </div>
                    <div class="mb-3">
                            <label class="small mb-1" for="code">Departement</label>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" required="required" name="code">
                            {% for i in cours %}
                             <option selected value="{{ i.id_fil }}">{{ i.nom_fil }}</option>
                            {% endfor %}
                        </select>
                    </div>

                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputFirstName">Prénom</label>
                                <input required="required"  class="form-control" id="Prenom" name="Prenom"  type="text" placeholder="Entrer votre prénom" >
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputLastName">nom</label>
                                <input required="required"  class="form-control" id="Nom" name="Nom" type="text" placeholder="Entrer votre nom" >
                            </div>
                        </div>
                        <!-- Form Row        -->


                        <!-- Form Group (email address)-->
                        <div class="mb-3">
                            <label class="small mb-1" for="inputEmail">Email</label>
                            <input required="required" class="form-control" id="Email" name="Email"  type="email" placeholder="Entrer votre adresse email" >
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (phone number)-->

                            <!-- Form Group (birthday)-->
                            <div class="col-md-6">
                                <label class="small mb-1" for="inputBirthday">Birthday</label>
                                <input required="required" class="form-control" id="Birthday" name="Birthday" value="{{ birthday }}" type="date" name="birthday" placeholder="Entrer votre date de naissance" >
                            </div>

                            <div class="mb-3">
                                <label class="small mb-1" for="newPassword">Nouveau mot de passe</label>
                                <input class="form-control" required="required" id="newPassword" name="newPassword" type="password" >
                            </div>
                            <!-- Form Group (confirm password)-->
                            <div class="mb-3">
                                <label class="small mb-1" for="confirmPassword">Confirmer le mot de passe</label>
                                <input class="form-control" required="required" id="confirmPassword" name="confirmPassword" data-parsley-equqlto="newPassword" type="password" >
                            </div>
                        </div>

                        <input class="btn btn-primary" type="submit" value="Ajouter"name="Save_ens">
                        </div>
        </div>
</form>

    </div>
  </div>
</div>


</div>
</form>
                        <!-- Save changes button-->

                </div>
            </div>
        </div>
    </div>
</div>

</div>
      </section>
    </section>

{% endblock %}