
{% extends 'base.html' %}

{% block title %}
dashbord-etd
{% endblock %}

{% block navbar %}
<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link"  href="{% url 'dashbord' %}">Accueil</a></li>
    <li class="nav-item"><a class="nav-link active"  href="{% url 'list_etd' %}">Etudiants</a></li>
    <li class="nav-item dropdown">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle nav-link active" aria-current="page" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="{{ pp }}" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong> {{ prenom }} {{ nom }}</strong>

      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="{% url 'profil' %}">Mon Profil</a></li>
        <li><a class="dropdown-item" href="{% url 'edit_profil' %}">Modifier mon profil</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{% url 'deconnexion' %}">Deconnexion</a></li>
      </ul>
        </li>

                    </ul>
               {% endblock %}

{% block aside %}
<aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="profile.html"><br/></a></p>
          <h5 class="centered"></h5>
          <li class="mt">
            <a href="{% url 'dashbord' %}">
              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
              </a>
          </li>


          <li class="sub-menu">
            <a href="{% url 'cours_etd' %}">
              <i class="fa fa-book"></i>
              <span>Mes cours</span>
              </a>

          </li>

          <li class="sub-menu">
            <a href="{% url 'notes' %}">
              <i class="fa fa-th"></i>
              <span>Mes notes</span>
              </a>

          </li>
          <li>
            <a href="{% url 'message' %}">
              <i class="fa fa-envelope"></i>
              <span>Messages </span>
              <span class="label label-theme pull-right mail-info">2</span>
              </a>
          </li>


        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
      {% endblock %}

{% block content %}
 <section id="main-content">
      <section class="wrapper">
      <div class="row">
          {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                  {{ message }}
              </li>
              {% endfor %}
          </ul>
          {% endif %}


          <div class="row">
              {% for i in res %}
  <div class="col-sm-6">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-12 col-xl-4">

        <div class="card" style="border-radius: 15px;">
          <div class="card-body text-center">
            <div class="mt-3 mb-4">
              <img src="{{ i.photo_profil }}"
                 width="132" height="132" class="rounded-circle me-2" />
            </div>
           <a href="profil_public?mat={{ i.matricule_etd }}"><h4 class="mb-2">{{ i.prenom }} {{ i.nom }}</h4></a>

          </div>
        </div>

      </div>
    </div>
  </div>

</div>

{% endfor %}
              </div>
        </div>
      </section>
    </section>

{% endblock %}