
{% extends 'base.html' %}
{% load static %}
{% block title %}
Connexion
{% endblock %}

{% block navbar %}
<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Accueil</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'login' %}">Connexion</a></li>

                    </ul>
               {% endblock %}

{% block aside %}

      {% endblock %}

{% block content %}
 <section id="main-content-prin">
      <section class="wrapper">
      <div class="row">
          {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                  {{ message }}
              </li>
              {% endfor %}
          </ul>
          {% endif %}
      <?php
      include('../parties/error.php'); ?>

        <div class="container">
            <div class="row">
              <div class="col-md-6 offset-md-3">
                <h2 class="text-center text-dark mt-5">CONNEXION</h2>
                <div class="text-center mb-5 text-dark"> connectez-vous</div>
                <div class=" my-5">

                  <form data-parsley-validate method="post" class="card-body cardbody-color p-lg-5" autocomplete="off">
                      {% csrf_token %}

                    <div class="text-center">
                      <img src="{% static 'assets/fandy electronique logo.jpg' %}" class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3"
                        width="200px" alt="profile">
                    </div>


                    <div class="mb-3">
                      <input type="text" class="form-control" id="Username" name="Username" aria-describedby="emailHelp"
                        placeholder="Nom d'utilisateur ou Adresse e-mail" data-parsley-minlength="6" required="required">
                    </div>

                    <div class="mb-3">
                      <input type="password" data-parsley-minlength="8" class="form-control" id="password" name="password" placeholder="Mot de passe" required="required">
                    </div>

                    <div class="text-center"><input type="submit" class="btn btn-primary px-5 mb-5 w-100" value="Se Connecter" name="Connecter" ></div>

                  </form>
                </div>

              </div>
            </div>
        </div>
        <!-- /row -->
</div>
      </section>
    </section>

{% endblock %}