
{% extends 'base.html' %}

{% block title %}
note-etd
{% endblock %}

{% block navbar %}
<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page"  href="dashbord.php">Accueil</a></li>
    <li class="nav-item"><a class="nav-link"  href="{% url 'list_etd' %}">Etudiants</a></li>
                        <li class="nav-item dropdown">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle nav-link active" aria-current="page" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="{{ pp }}" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong> {{ prenom }} {{ nom }}</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="{% url 'profil' %}">Mon Profil</a></li>
        <li><a class="dropdown-item" href="{% url 'edit_profil' %}">Modifier mon profil</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{% url 'deconnexion' %}">Deconnexion</a></li>
      </ul>
        </li>

                    </ul>
               {% endblock %}

{% block aside %}
<aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="profile.html"><br/></a></p>
          <h5 class="centered"></h5>
          <li class="mt">
            <a href="{% url 'dashbord' %}">
              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
              </a>
          </li>


          <li class="sub-menu">
            <a href="{% url 'cours_etd' %}">
              <i class="fa fa-book"></i>
              <span>Mes cours</span>
              </a>

          </li>

          <li class="sub-menu">
            <a class="active" href="{% url 'notes' %}">
              <i class="fa fa-th"></i>
              <span>Mes notes</span>
              </a>

          </li>
          <li>
            <a href="{% url 'message' %}">
              <i class="fa fa-envelope"></i>
              <span>Messages </span>
              <span class="label label-theme pull-right mail-info">2</span>
              </a>
          </li>


        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
      {% endblock %}

{% block content %}
 <section id="main-content">
      <section class="wrapper">
      <div class="row">
          <div class="row">
          {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                  {{ message }}
              </li>
              {% endfor %}
          </ul>
          {% endif %}
      <?php include('../parties/flash.php');
      include('../parties/error.php'); ?>

        <table class="table">
       <p> <center>SEMESTRE 1</center></p>
  <thead>
    <tr>
      <th scope="col">Unités d'enseignement</th>
      <th scope="col">Controle continu</th>
      <th scope="col">Travaux pratiques</th>
      <th scope="col">Session normale</th>
      <th scope="col">Total sur 100</th>
    </tr>
  </thead>
  <tbody>

    {% for i in res %}

            <TR>


                <td><center>{{ i.descrip }}</center></td>
                <td><center>{{ i.cc }}</center></td>
                <td><center>{{ i.tp }}</center></td>
                <td><center>{{ i.sn }}</center></td>
                <td><center>{{ i.som }}</center></td>

            </TR>

    {% endfor %}

  </tbody>
</table>

<br><br>
<table class="table">
       <p> <center>SEMESTRE 2</center></p>
  <thead>
    <tr>
      <th scope="col">Unités d'enseignement</th>
      <th scope="col">Controle continu</th>
      <th scope="col">Travaux pratiques</th>
      <th scope="col">Session normale</th>
      <th scope="col">Total sur 100</th>
    </tr>
  </thead>
  <tbody>
    {% for i in res1 %}

            <TR>

                <td><center>{{ i.descrip }}</center></td>
                <td><center>{{ i.cc }}</center></td>
                <td><center>{{ i.tp }}</center></td>
                <td><center>{{ i.sn }}</center></td>
                <td><center>{{ i.som }}</center></td>
            </TR>

    {% endfor %}

  </tbody>
</table>

{% endblock %}