
{% extends 'base.html' %}

{% block title %}
profil-ens
{% endblock %}

{% block navbar %}
<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link"  href="{% url 'dashbord_ens' %}">Accueil</a></li>
                        <li class="nav-item dropdown">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle nav-link active" aria-current="page" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="{{ pp }}" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong> {{ prenom }} {{ nom }}</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="{% url 'profil_ens' %}">Mon Profil</a></li>
        <li><a class="dropdown-item" href="{% url 'edit_profil_ens' %}">Modifier mon profil</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{% url 'deconnexion' %}">Deconnexion</a></li>
      </ul>
        </li>
               {% endblock %}

{% block aside %}
<aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="profile.html"><br/></a></p>
          <h5 class="centered"></h5>
          <li class="mt">
            <a href="{% url 'dashbord_ens' %}">
              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
              </a>
          </li>


          <li class="sub-menu">
            <a href="{% url 'cours_ens' %}">
              <i class="fa fa-book"></i>
              <span>Mes cours</span>
              </a>

          </li>


          <li>
            <a href="{% url 'message_ens' %}">
              <i class="fa fa-envelope"></i>
              <span>Messages </span>
              <span class="label label-theme pull-right mail-info">2</span>
              </a>
          </li>


        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
      {% endblock %}

{% block content %}
 <section id="main-content">
      <section class="wrapper">
      <div class="row">
          {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                  {{ message }}
              </li>
              {% endfor %}
          </ul>
          {% endif %}

        <div class="container">
   <div class="row">
      <div class="col-md-12">
         <div id="content" class="content content-full-width">
            <!-- begin profile -->
            <div class="profile">
               <div class="profile-header">
                  <!-- BEGIN profile-header-cover -->
                  <div class="profile-header-cover"></div>
                  <!-- END profile-header-cover -->
                  <!-- BEGIN profile-header-content -->
                  <div class="profile-header-content">
                     <!-- BEGIN profile-header-img -->
                     <div class="profile-header-img">
                        <img src="{{ pp }}" alt="">
                     </div>
                     <!-- END profile-header-img -->
                     <!-- BEGIN profile-header-info -->
                     <div class="profile-header-info">
                        <h4 class="m-t-10 m-b-5">{{ matricule }}</h4>
                        <p class="m-b-10">{{ savoir_faire }}</p>
                        <a href="{% url 'edit_profil' %}" class="btn btn-sm btn-info mb-2">Modifier Profil</a>
                     </div>
                     <!-- END profile-header-info -->
                  </div>
                  <!-- END profile-header-content -->
                  <!-- BEGIN profile-header-tab -->

                  <!-- END profile-header-tab -->
               </div>
            </div>
             </div>
      </div>
   </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Publication</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <form data-parsley-validate enctype="multipart/form-data" method="POST"  class="card-body p-lg-5" autocomplete="off">
      <div class="modal-body">
                      {% csrf_token %}
          <div class="mb-3">
                      <input type="text" class="form-control" id="titre" name="titre" aria-describedby="emailHelp"
                        placeholder="Titre de la publication" required="required">
                    </div>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example" required="required" name="code">
                            {% for i in cours %}
                             <option selected value="{{ i.code }}">{{ i.code }} {{ i.descrisption }}</option>
                            {% endfor %}
                        </select>
          <div class="mb-3">
            <textarea placeholder="description de la publication" class="form-control" id="description" name="description"></textarea>
          </div>
            {{ form.as_p }}

      </div>
      <div class="modal-footer">
        <input type="submit" value="Publier" name="publier" class="btn btn-primary"/>
      </div>
        </form>
    </div>
  </div>
</div>
 <br>
          <br><br><br>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">Publication</button>
<br>

            <div class="container">
    <div class="row">
        <div class="col-md-10">
            {% for i in posts %}
            {% if i.type == 'image' %}
                <div class="post-content">
                <div class="post-container">
                    <img src="{{ pp }}" alt="user" class="profile-photo-md pull-left">
                    <div class="post-detail">
                    <div class="user-info">
                        <h5><a href="{% url 'profil' %}" class="profile-link text-body"><strong>{{ prenom }} {{ nom }}</strong></a></h5>
                        <p class="text-muted">publie le {{ i.date }}</p>
                    </div>
                        <div class="reaction">
                                {% for j in total_like %}
                                {% if j.id_publication == i.id_publi %}

                            <form action="{% url 'like_post' %}" data-parsley-validate method="POST" autocomplete="off" class="like-form" id="{{ i.id_publi }}">
                                {% csrf_token %}
                                <input type="hidden" value="{{ i.id_publi }}" name="id_publication">


                                        <button type="submit" class="fa fa-thumbs-up btn button like-btn{{ i.id_publi }}">j'aime</button>



                                        <div class="post-comment-back">
                                            <div class="like-count{{i.id_publi}}">{{ j.liked }}</div>
                                            </div>

                            </form>

                                {% endif %}
                                {% endfor %}

                        </div>
                        <div class="line-divider"></div>
                        <h6 class="text-body"><strong>{{ i.titre }}</strong></h6>
                    <div class="line-divider"></div>
                    <div class="post-text">
                        <p class="text-body"> {{ i.description }}</p><br>
                        <img src="{{ i.contenu }}" class="img-fluid" alt=" image de {{ i.titre}}">
                    </div>
                    <div class="line-divider"></div>
                        {% for n in nb_comment %}
                        {% for l in n %}
                        <input type="hidden" class="form-control" value="{{ i.id_publi }}" id="id_publication" name="id_publication">
                        {% if i.id_publi == l.id_publication %}
                        <button class="fa fa-comments-o btn button com-btn" id="{{ i.id_publi }}">{{l.nb_com}}</button>
                        {% endif %}

                                    {% endfor %}
                                    {% endfor %}
                        <div class="commentaires{{i.id_publi}}"  style="display : none;">
                        {% for n in comment %}
                        {% for l in n %}
                        <div class="post-comment">

                                        {% for m in commenteur %}
                                        {% for o in m %}
                                    {% if l.matricule_etd == o.matricule_etd and l.matricule_etd != None and i.id_publi == l.id_publication %}
                                <img src="{{ o.photo_profil }}" alt="" class="profile-photo-sm">
                                <a href="profil_public?id={{ o.id }}" class="profile-link text-body"><strong>{{ o.prenom }} {{ o.nom }}</strong> </a> {{ l.contenu }}

                                    {% elif l.matricule_ensg == o.matricule_ensg and l.matricule_ensg != None and i.id_publi == l.id_publication %}
                                <img src="{{ o.photo_profil }}" alt="" class="profile-photo-sm">
                                <p><a href="profil_public?id={{ o.id }}" class="profile-link text-body"><strong>{{ o.prenom }} {{ o.nom }}</strong> </a>{{ l.contenu }}</p>
                                {% endif %}

                                    {% endfor %}
                                    {% endfor %}
                        </div>
                        {% endfor %}
                    {% endfor %}
                            </div>

                        <form data-parsley-validate method="POST" autocomplete="off">
                      {% csrf_token %}
                  <div class="post-comment-back">
                    <img src="{{ pp }}" alt="" class="profile-photo-sm">
                    <input type="text" class="form-control" placeholder="Ajouter un commentaire" id="commentaire" name="commentaire" required="required">
                      <input type="hidden" class="form-control" value="{{ i.id_publi }}" id="id_publication" name="id_publication">
                    <input type="submit" class="btn btn-primary" value="Commenter" name="comment">
                  </div>
                    </form>
                    </div>
                </div>
                </div>
            {% elif i.type == 'video' %}
            <div class="post-content">
                <div class="post-container">
                    <img src="{{ pp }}" alt="user" class="profile-photo-md pull-left">
                    <div class="post-detail">
                    <div class="user-info">
                        <h5><a href="{% url 'profil' %}" class="profile-link text-body"><strong>{{ prenom }} {{ nom }}</strong></a></h5>
                        <p class="text-muted">publie le {{ i.date }}</p>
                    </div>
                        <div class="reaction">
                                {% for j in total_like %}
                                {% if j.id_publication == i.id_publi %}

                            <form action="{% url 'like_post' %}" data-parsley-validate method="POST" autocomplete="off" class="like-form" id="{{ i.id_publi }}">
                                {% csrf_token %}
                                <input type="hidden" value="{{ i.id_publi }}" name="id_publication">

                                        <button type="submit" class="fa fa-thumbs-up btn button like-btn{{ i.id_publi }}">j'aime</button>


                                        <div class="post-comment-back">
                                            <div class="like-count{{i.id_publi}}">{{ j.liked }}</div>
                                            </div>

                            </form>

                                {% endif %}
                                {% endfor %}

                        </div>
                        <div class="line-divider"></div>
                        <h6 class="text-body"><strong>{{ i.titre }}</strong></h6>
                    <div class="line-divider"></div>
                    <div class="post-text">
                        <p class="text-body"> {{ i.description }}</p><br>
                        <div class="embed-responsive embed-responsive-21by9">
                            <iframe class="embed-responsive-item" src="{{ i.contenu }}" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="line-divider"></div>

                        {% for n in nb_comment %}
                        {% for l in n %}
                        <input type="hidden" class="form-control" value="{{ i.id_publi }}" id="id_publication" name="id_publication">
                        {% if i.id_publi == l.id_publication %}
                        <button class="fa fa-comments-o btn button com-btn" id="{{ i.id_publi }}">{{l.nb_com}}</button>
                        {% endif %}

                                    {% endfor %}
                                    {% endfor %}
                        <div class="commentaires{{i.id_publi}}"  style="display : none;">
                        {% for n in comment %}
                        {% for l in n %}
                        <div class="post-comment">

                                        {% for m in commenteur %}
                                        {% for o in m %}
                                    {% if l.matricule_etd == o.matricule_etd and l.matricule_etd != None and i.id_publi == l.id_publication %}
                                <img src="{{ o.photo_profil }}" alt="" class="profile-photo-sm">
                                <a href="profil_public?id={{ o.id }}" class="profile-link text-body"><strong>{{ o.prenom }} {{ o.nom }}</strong> </a> {{ l.contenu }}

                                    {% elif l.matricule_ensg == o.matricule_ensg and l.matricule_ensg != None and i.id_publi == l.id_publication %}
                                <img src="{{ o.photo_profil }}" alt="" class="profile-photo-sm">
                                <p><a href="profil_public?id={{ o.id }}" class="profile-link text-body"><strong>{{ o.prenom }} {{ o.nom }}</strong> </a>{{ l.contenu }}</p>
                                {% endif %}

                                    {% endfor %}
                                    {% endfor %}
                        </div>
                        {% endfor %}
                    {% endfor %}
                            </div>

                        <form data-parsley-validate method="POST" autocomplete="off">
                      {% csrf_token %}
                  <div class="post-comment-back">
                    <img src="{{ pp }}" alt="" class="profile-photo-sm">
                    <input type="text" class="form-control" placeholder="Ajouter un commentaire" id="commentaire" name="commentaire" required="required">
                      <input type="hidden" class="form-control" value="{{ i.id_publi }}" id="id_publication" name="id_publication">
                    <input type="submit" class="btn btn-primary" value="Commenter" name="comment">
                  </div>
                    </form>
                    </div>
                </div>
                </div>

            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
          <!-- publication sans fichier -->

          <div class="container">
    <div class="row">
        <div class="col-md-10">
            {% for i in posts1 %}
                <div class="post-content">
                <div class="post-container">
                    <img src="{{ pp }}" alt="user" class="profile-photo-md pull-left">
                    <div class="post-detail">
                    <div class="user-info">
                        <h5><a href="{% url 'profil' %}" class="profile-link text-body"><strong>{{ prenom }} {{ nom }}</strong></a></h5>
                        <p class="text-muted">publie le {{ i.date }}</p>
                    </div>
                        <div class="reaction">
                                {% for j in total_like1 %}
                                {% if j.id_publication == i.id_publi %}

                            <form action="{% url 'like_post' %}" data-parsley-validate method="POST" autocomplete="off" class="like-form" id="{{ i.id_publi }}">
                                {% csrf_token %}
                                <input type="hidden" value="{{ i.id_publi }}" name="id_publication">

                                        <button type="submit" class="fa fa-thumbs-up btn button like-btn{{ i.id_publi }}">j'aime</button>


                                        <div class="post-comment-back">
                                            <div class="like-count{{i.id_publi}}">{{ j.liked }}</div>
                                            </div>

                            </form>

                                {% endif %}
                                {% endfor %}

                        </div>
                        <div class="line-divider"></div>
                        <h6 class="text-body"><strong>{{ i.titre }}</strong></h6>
                    <div class="line-divider"></div>
                    <div class="post-text">
                        <p class="text-body"> {{ i.description }}</p>
                    </div>
                    <div class="line-divider"></div>
                        {% for n in nb_comment1 %}
                        {% for l in n %}
                        <input type="hidden" class="form-control" value="{{ i.id_publi }}" id="id_publication" name="id_publication">
                        {% if i.id_publi == l.id_publication %}
                        <button class="fa fa-comments-o btn button com-btn" id="{{ i.id_publi }}">{{l.nb_com}}</button>
                        {% endif %}

                                    {% endfor %}
                                    {% endfor %}
                        <div class="commentaires{{i.id_publi}}"  style="display : none;">
                        {% for n in comment1 %}
                        {% for l in n %}
                        <div class="post-comment">

                                        {% for m in commenteur %}
                                        {% for o in m %}
                                    {% if l.matricule_etd == o.matricule_etd and l.matricule_etd != None and i.id_publi == l.id_publication %}
                                <img src="{{ o.photo_profil }}" alt="" class="profile-photo-sm">
                                <a href="profil_public?id={{ o.id }}" class="profile-link text-body"><strong>{{ o.prenom }} {{ o.nom }}</strong> </a> {{ l.contenu }}

                                    {% elif l.matricule_ensg == o.matricule_ensg and l.matricule_ensg != None and i.id_publi == l.id_publication %}
                                <img src="{{ o.photo_profil }}" alt="" class="profile-photo-sm">
                                <p><a href="profil_public?id={{ o.id }}" class="profile-link text-body"><strong>{{ o.prenom }} {{ o.nom }}</strong> </a>{{ l.contenu }}</p>
                                {% endif %}

                                    {% endfor %}
                                    {% endfor %}
                        </div>
                        {% endfor %}
                    {% endfor %}
                            </div>

                        <form data-parsley-validate method="POST" autocomplete="off">
                      {% csrf_token %}
                  <div class="post-comment-back">
                    <img src="{{ pp }}" alt="" class="profile-photo-sm">
                    <input type="text" class="form-control" placeholder="Ajouter un commentaire" id="commentaire" name="commentaire" required="required">
                      <input type="hidden" class="form-control" value="{{ i.id_publi }}" id="id_publication" name="id_publication">
                    <input type="submit" class="btn btn-primary" value="Commenter" name="comment">
                  </div>
                    </form>
                    </div>
                </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

          <!-- end publication -->

</div>
      </section>
    </section>

{% endblock %}