
{% extends 'base.html' %}

{% block title %}
profil-public
{% endblock %}

{% block navbar %}
<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link"  href="{% url 'dashbord' %}">Accueil</a></li>
    <li class="nav-item"><a class="nav-link active"  href="{% url 'list_etd' %}">Etudiants</a></li>
                        <li class="nav-item dropdown">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle nav-link active" aria-current="page" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="{{ pp }}" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong> {{ prenom }} {{ nom }}</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="{% url 'profil' %}">Mon Profil</a></li>
        <li><a class="dropdown-item" href="{% url 'edit_profil' %}">Modifier mon profil</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="{% url 'deconnexion' %}">Deconnexion</a></li>
      </ul>
        </li>

                    </ul>
               {% endblock %}

{% block aside %}
<aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="profile.html"><br/></a></p>
          <h5 class="centered"></h5>
          <li class="mt">
            <a href="{% url 'dashbord' %}">
              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
              </a>
          </li>


          <li class="sub-menu">
            <a href="{% url 'cours_etd' %}">
              <i class="fa fa-book"></i>
              <span>Mes cours</span>
              </a>

          </li>

          <li class="sub-menu">
            <a href="{% url 'notes' %}">
              <i class="fa fa-th"></i>
              <span>Mes notes</span>
              </a>

          </li>
          <li>
            <a href="{% url 'message' %}">
              <i class="fa fa-envelope"></i>
              <span>Messages </span>
              <span class="label label-theme pull-right mail-info">2</span>
              </a>
          </li>


        </ul>
        <!-- sidebar menu end-->
      </div>
    </aside>
      {% endblock %}

{% block content %}
 <section id="main-content">
      <section class="wrapper">
          {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                  {{ message }}
              </li>
              {% endfor %}
          </ul>
          {% endif %}

          <section class="bg-white">
  <div class="container py-8">


    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
            <form data-parsley-validate method="post" class="card-body cardbody-color p-lg-5 bg-white" autocomplete="off">
          {% csrf_token %}
                <div class="text-center">
            <img src="{{ pp_p }}" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{ prenom_p }}</h5>
            <p class="text-muted mb-1">{{ savoir_faire_p }}</p>
            <p class="text-muted mb-4">{{ ville_p }}, {{ ville_p }}</p>
            <div class="d-flex justify-content-center mb-2">

                {% if status == '0' %}
              <input class="btn btn-primary" type="submit" value="refuser la demande" name="refuser"/>
                {% elif  status1 == '0' %}
                <input class="btn btn-primary" type="submit" value="annuler la demande" name="annuler"/>
                {% elif status == '1' or status1 == '1' %}
                <input class="btn btn-primary" type="submit" value="supprimer l'amitie" name="supprimer"/>
                <button type="button" class="btn btn-outline-primary ms-1">Message</button>
                {% else %}
                <input class="btn btn-primary" type="submit" value="Envoyer la demande" name="demander"/>
                {% endif %}

            </div>
          </div>
            </form>
        </div>

      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">prenom et nom</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ prenom_p }} {{ nom_p }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ email_p }}</p>
              </div>
            </div>



          </div>
        </div>

      </div>
    </div>
  </div>
</section>


      </section>
    </section>

{% endblock %}