
<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="STUDENT SOCIAL NETWORK">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
<title> {% block title %}
        {% endblock title %}
    - STUDENT SOCIAL NETWORK'</title>
  <!-- Favicons -->

    <link rel="icon" href="{% static 'assets/fandy electronique logo.jpg' %}">


    <link href="{% static 'assets/CSS1/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'librairies/parsley/parsley.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/CSS1/main.css' %}">
    <link href="{% static 'assets/lib/font-awesome/css/font-awesome.css' %} " rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'assets/css/messages.css' %}">
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">


</head>


<body>
  <section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">


      <!--logo start-->
      <nav class="navbar navbar-expand-lg navbar-dark black-bg">
      <a class="logo navbar-brand" href="{% url 'index' %}"> <b>STUDENT SOCIAL <span>NETWORK</span></b></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>      <!--logo end-->

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
               {% block navbar %}
               {% endblock %}

                </div>

</nav>


    </header>


      <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
      {% block aside %}
      {% endblock %}




      {% block content %}

      {% endblock %}





    <!--footer end-->
  </section>
  <!-- js placed at the end of the document so the pages load faster -->
        <script src="{% static 'assets/JS/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/JS/jquery.min.js' %}"></script>
        <script src="{% static 'assets/JS/scripts.js' %}"></script>
        <script src="{% static 'librairies/parsley/parsley.js' %}"></script>
        <script src="{% static 'librairies/parsley/langue/fr.js' %}"></script>
        <script src="{% static 'assets/JS/messages.js' %}"></script>

</body>

</html>
